*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: #000;
  --light-text-color: #a5a5a1;
}
body {
  font-family: "inter", sans-serif;
  color: var(--text-color);
}
/* navigation styles */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.nav-contents {
  display: flex;
  gap: 2rem;
}
.nav-contents a {
  text-decoration: none;
  font-weight: 500;
  color: var(--text-color);
}
.nav-contents a:hover {
  color: var(--light-text-color);
  transition: all 0.3s ease;
}
.logo {
  font-size: 1.5rem;
  font-weight: 600;
}
#menuBtn {
  display: none;
  font-size: 1.6rem;
}

/* hero section styles */
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 1rem 2rem;
  margin-top: 7rem;
  /* background-color: rgb(245, 245, 245); */
}

.hero-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero-container p {
  font-size: 1rem;
  color: var(--light-text-color);
  max-width: 70ch;
  text-align: justify;
}

/* Responsive design for Mobile devices */
@media (max-width: 480px) {
  .container {
    padding: 1rem;
    position: relative;
  }
  .nav-contents {
    display: none;
  }
  .logo {
    font-size: 1.2rem;
  }
  #menuBtn {
    display: block;
  }
  #menuBtn:hover {
    cursor: pointer;
    color: var(--light-text-color);
    transform: scale(1.1);
    transition: all 0.3s ease;
  }
  .nav-contents {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #e6e2e2;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    height: 30vh;
    display: none;
  }
  .nav-contents a {
    font-size: 0.9rem;
  }

  .nav-contents.active {
    display: flex;
  }
  .hero-container {
    flex-direction: column;
    margin-top: 4rem;
  }
}
